{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center p-5">
        <a href="/"> Back to Memes</a>
    </div>

<div>
    <div class="row"  >
        <div class="col-lg">
            <div class="row">
                <div class="card">
                    <div class="card-title  text-center justify-content-center p5" >
                        <h1 class="card-title">{{ meme.title }}
                        <p class="card-body">{{ meme.description }}</p>

                        <a class="btn btn-primary btn-block w-50 m-auto mb-5" href="/memes/{{meme._id}}/edit">Edit</a>
                        <form class="mt-5" method='POST' action='/memes/{{meme._id}}/delete'>
                            <input class="" type='hidden' name='_method' value='DELETE'>
                            <button class='btn btn-danger btn-block w-50 m-auto' type='submit'>Delete</button>
                        </form>

                    </div>
                    <div class="row pd-5 mt-20" >
                        <div class="col-md">

                            <div id="mdb-lightbox-ui"></div>

                            <div class="mdb-lightbox no-margin">

                                {% for image in meme.images %}
                                    <!-- <figure class="col-md-4"> -->
                                        <img alt="{{meme.title}}" src="{{image}}" class="img-fluid" width="100%" height="100%">
                                    <!-- </figure> -->
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
